/Estrategy.SmitPolyweb.ClientPortal/Estrategy.SmitPolyweb.ClientPortal.API/bin
/Estrategy.SmitPolyweb.ClientPortal/Estrategy.SmitPolyweb.ClientPortal.API/obj
/Estrategy.SmitPolyweb.ClientPortal/Estrategy.SmitPolyweb.UI/node_modules
/Estrategy.SmitPolyweb.ClientPortal/Estrategy.SmitPolyweb.UI/.vs
/Estrategy.SmitPolyweb.ClientPortal/Estrategy.SmitPolyweb.UI/obj
