.checkBoxStyle{
    margin-left:1.25rem;
    float:left;
    margin-top:0.4rem;
    accent-color:blue;
}

.locationField{
    font-weight:500;
}

.current {
    color: darkblue !important;
}

.link {
    color: rgba(10, 10, 10, 70%);
    margin: 0.5rem 0;
}

.row {
    font-weight: 500;
    display: flex;
    gap: 1rem;
    margin-left:1rem;
    margin-top:0.5rem;
}

.buttonContainer {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
